<h1><%= title %></h1>

<h3>Welcome to the Hub</h3>
<p>All messages are avalable to be read below, however our members only can create messages and see who the authors are.</p>

<div class="container mt-5">
    <% if (messages) { %>
        <% messages.forEach(message => { %>
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <!-- Message title -->
                    <strong class="text-uppercase"><%= message.title %></strong>
                    
                    <!-- Timestamp -->
                    <small class="text-muted"><%= message.formatted_time %></small>
                </div>
                <div class="card-body">
                    <!-- Message body -->
                    <p class="card-text">
                        <%= message.body %>
                    </p>
                    
                    <!-- Author name -->
                    <% if (currentUser && currentUser.membership_status === 'member' || currentUser && currentUser.membership_status === 'admin') { %>
                        <footer class="blockquote-footer">Posted by <cite title="<%= message.author.name %>"><%= message.author.username %></cite></footer>
                        <% } %>
                    <!-- Delete Link for Admins -->
                    <% if (currentUser && currentUser.membership_status === 'admin') { %>
                        <a href="/messages/<%= message._id %>/delete" class="btn btn-danger btn-sm ml-2">Delete</a>
                    <% } %>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>